@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bwhite: #ffffff;
  --bblack: #141414;
  --bpink: #ff4092;
  --bpurple: #7b1173;
  --bviolet: #e000cf;
  --bgreydark: #303030;
  --bgrey: #41474e;
  --bgreylight: #8b98a9;
  --bgreylighter: #e2e2e2;
  --bgreydimmed: #f7f7f7;
  --bgradient: linear-gradient(to right bottom #7b1173, #ff4092);
  --balertgreen: #5fb359;
  --balertred: #d80606;
  --balertorange: #b35f36;
  --balertyellow: #eac146;
  --colorprimary: #ff4092;
  --colorsecondary: #8b98a9;

  /* Only use these vars for most color referencing for easy light/dark mode */
  --font-color-text: #41474e;
  --font-color-heading: #141414;
  --background-body: #fcfcfc;
  --background-body-transparent: rgba(255, 255, 255, 0.8);
  --background-content: #fff;
  --background-highlight: #f7f7f7;
  --border-color: #e2e2e2;
  --box-shadow-color: rgba(0, 0, 0, 0.05);

  --font-family-base: 'Sharp Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Sharp Sans Display', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-monospace: 'Fira Code', 'Fira Mono', Menlo, Monaco, Consolas,
    'Courier New', monospace;

  --fsroot: 15px;
  --fsbase: 1rem;
  --fslarge: 1.2rem;
  --fssmall: 0.85rem;
  --fsmini: 0.65rem;
  --fstext: 1rem;
  --fslabel: 1rem;
  --fstitle: 1.4rem;
  --fsh1: 3rem;
  --fsh2: 2.5rem;
  --fsh3: 1.7rem;
  --fsh4: 1.3rem;
  --fsh5: 1.1rem;
  --fwbase: 500;
  --fwbold: 600;
  --line-height: 1.6;

  --spacer: 2rem;
  --bradius: 0.2rem;

  --lmaxwidth: 85rem;
  --checkbox-size: 1.6em;

  --break-point--small: 640px;
  --break-point--medium: 860px;
  --break-point--large: 1140px;
  --break-point--huge: 1400px;
}

.dark {
  --font-color-text: #e2e2e2;
  --font-color-heading: #f7f7f7;
  --background-body: rgb(10, 10, 10);
  --background-body-transparent: rgba(10, 10, 10, 0.9);
  --background-content: #141414;
  --background-highlight: #201f1f;
  --border-color: #303030;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}
