@tailwind base;
@tailwind components;
@tailwind utilities;

/* .root {
  --primary-color: #DB2777;
  --secondary-color: #000;
} */

.root,
#root,
#docs-root {
  --primary-color: #db2777;
  --secondary-color: #000;
}
