@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bwhite: #ffffff;
  --bblack: #141414;
  --bpink: #ff4092;
  --bpurple: #7b1173;
  --bviolet: #e000cf;

  --bgrey-darker: #201f1f;
  --bgrey-dark: #303030;
  --bgrey: #41474e;
  --bgrey-light: #8b98a9;
  --bgrey-lighter: #e2e2e2;
  --bgrey-dimmed: #f7f7f7;

  --bgradient: linear-gradient(to right bottom, #7b1173, #ff4092);

  --balert-green: #5fb359;
  --balert-red: #d80606;
  --balert-orange: #b35f36;
  --balert-yellow: #eac146;

  --color-primary: #ff4092;
  --color-secondary: #8b98a9;

  /* Only use these vars for most color referencing for easy light/dark mode */
  --font-color-text: #41474e;
  --font-color-heading: #141414;
  --background-body: #fcfcfc;
  --background-content: #fff;
  --background-body-transparent: rgba(255, 255, 255, 0.8);
  --background-content: #fff;
  --background-highlight: #f7f7f7;
  --border-color: #e2e2e2;
  --box-shadow-color: rgba(0, 0, 0, 0.05);

  --font-family-base: "Sharp Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
  --font-family-heading: "Sharp Sans Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
  --font-family-monospace: "Fira Code", "Fira Mono", Menlo, Monaco, Consolas,
    "Courier New", monospace;

  --font-size-root: 15px;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --font-size-text: 1rem;
  --font-size-label: 1rem;
  --font-size-title: 1.4rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.3rem;
  --font-size-h5: 1.1rem;
  --font-weight-base: 500;
  --font-weight-bold: 600;
  --line-height: 1.6;

  --spacer: 2rem;
  --border-radius: 0.2rem;

  --layout-max-width: 85rem;
  --checkbox-size: 1.6em;

  --break-point--small: 640px;
  --break-point--medium: 860px;
  --break-point--large: 1140px;
  --break-point--huge: 1400px;
}

.dark {
  --font-color-text: #e2e2e2;
  --font-color-heading: #f7f7f7;
  --background-body: rgb(10, 10, 10);
  --background-body-transparent: rgba(10, 10, 10, 0.9);
  --background-content: #141414;
  --background-highlight: #201f1f;
  --border-color: #303030;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}

/* .root,
#root,
#docs-root {
  --bwhite: #fff;
  --bblack: #141414;
  --bpink: #ff4092;
  --bpurple: #7b1173;
  --bviolet: #e000cf;
  --bgrey-dark: #303030;
  --bgrey: #41474e;
  --bgrey-light: #8b98a9;
  --bgrey-lighter: #e2e2e2;
  --bgrey-dimmed: #f7f7f7;
  --bgradient: linear-gradient(
    to right bottom rgb(123, 17, 115),
    rgb(255, 64, 146)
  );
  --balert-green: #5fb359;
  --balert-red: #d80606;
  --balert-orange: #b35f36;
  --balert-yellow: #eac146;
} */
